# Boot menu for the live ISO. @NAME@ and @VERSION@ are filled in at build time.

if loadfont /boot/grub/fonts/unicode.pf2 ; then
    set gfxmode=auto
    insmod all_video
    insmod gfxterm
    terminal_output gfxterm
fi

set default=0
set timeout=10

menuentry "Try @NAME@ @VERSION@" {
    linux  /casper/vmlinuz boot=casper quiet splash ---
    initrd /casper/initrd
}

menuentry "Install @NAME@ @VERSION@" {
    linux  /casper/vmlinuz boot=casper only-ubiquity quiet splash ---
    initrd /casper/initrd
}

menuentry "Try @NAME@ (safe graphics)" {
    linux  /casper/vmlinuz boot=casper nomodeset quiet splash ---
    initrd /casper/initrd
}

menuentry "Try @NAME@ (verbose, serial console)" {
    linux  /casper/vmlinuz boot=casper console=ttyS0,115200 console=tty1 ---
    initrd /casper/initrd
}

menuentry "Check disc for defects" {
    linux  /casper/vmlinuz boot=casper integrity-check quiet splash ---
    initrd /casper/initrd
}
