set default="0"
set timeout="5"

menuentry "master penguin linux" {
	linux /boot/bzImage root=PARTUUID=6d70656e-01 rootwait console=tty1
}

menuentry "master penguin linux (serial console too)" {
	linux /boot/bzImage root=PARTUUID=6d70656e-01 rootwait console=tty1 console=ttyS0,115200
}

menuentry "master penguin linux (root=/dev/sda1)" {
	linux /boot/bzImage root=/dev/sda1 rootwait console=tty1
}

menuentry "master penguin linux (root=/dev/vda1)" {
	linux /boot/bzImage root=/dev/vda1 rootwait console=tty1
}
